.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 1.5rem;
  justify-content: space-around;
}
.card {
  width: 25rem;
  height: 40rem;
  margin-bottom: 1.5rem;
}
.header_logo {
  flex: 0 0 70px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header_logo img {
  max-width: 100%;
  display: block;
}
.navbar-nav {
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.nav-link:active {
  color: white;
}
.modal-window {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  min-width: 40rem;
  border-radius: 5px;
  z-index: 1000;
  opacity: 1;
  transition: all 3s ease;
}
.modal-dialog {
  box-shadow: 0 0 15px 0;
  max-width: 50rem;
  font-size: 1.5rem;
}
.modal-body .col {
  min-height: 40rem;
  margin: .3rem;
}
.modal-background {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  transition: all 2s ease;
}
